/* Hide "Items per page" label */
::ng-deep .mat-mdc-paginator-page-size-label {
  display: none !important;
}

/* Hide "x – y of z" range text */
::ng-deep .mat-mdc-paginator-range-label {
  display: none !important;
}

/* Reduce dropdown (5,10,20) size */
::ng-deep .mat-mdc-paginator-page-size-select {
  width: 50px !important;
  min-width: 55px !important;
}

/* Reduce dropdown height */
::ng-deep .mat-mdc-select-trigger {
  height: 22px !important;
  font-size: 13px !important;
}

/* Reduce paginator height */
::ng-deep .mat-mdc-paginator-container {
  min-height: 40px !important;
  padding: 0 8px !important;
}
